# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django specific
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.env
venv/
.env
*.egg-info/

# VS Code
.vscode/

# Static files
/static/
/media/